@model dynamic

@{
    ViewBag.Title = "События";
    Layout = "_Layout";
}


    <div class="container">
        <div class="section-title">
            <h1>акции этого месяца</h1>
        </div>
        <div class="services-grid">
            <div class="service-card">
                <div class="service-image">
                    <img src="wwwroot/images/school.jpg" alt="школа">
                </div>
                <div class="service-content">
                    <h3>1 сентября</h3>
                    <p>Переворачивай каленадарь этой осени</p>
                </div>
        
            </div>
            <div class="service-card">
                <div class="service-image">
                    <img src="wwwroot/images/kish.jpg" alt="киш">
                </div>
                <div class="service-content">
                    <h3>ееее рок</h3>
                    <p>знатное разъебалово</p>
                </div>
            </div>
            <div class="service-card">
                <div class="service-image">
                    <img src="wwwroot/images/birpong.webp" alt="пево">
                </div>
                <div class="service-content">
                    <h3>бирспорт</h3>
                    <p>закиь пару бокалов</p>
                </div>
            </div>
        
        </div>
    </div>

