
<section id="home" class="page-section active">
    <div class="hero">
        <div class="hero-content">
            <h1>Хука-хуюка</h1>
            <p>Премиальная кальянная с уникальной атмосферой и изысканными вкусами</p>
            <a href="#services" class="btn nav-link">Наши услуги</a> 
        </div>
    </div>
</section>