@model dynamic

@{
    ViewBag.Title = "Акции";
    Layout = "_Layout";
}


<div class="container">
    <div class="section-title">
        <h2>Тут будут акции</h2>
    </div>
        
    <div class="services-grid">
        <div class="service-card">
            <div class="service-image">
                <img src="wwwroot/images/bear.jpg" alt="что-то про пиво">
            </div>
            <div class="service-content">
                <h3>название акции</h3>
                <p>описание акции</p>
            </div>
        </div>
        <div class="service-card">
            <div class="service-image">
                <img src="wwwroot/images/hokah.jpg" alt="кальянка">
            </div>
            <div class="service-content">
                <h3>что-то про кальяны</h3>
                <p>акция про кальяны</p>
            </div>
        </div>
        <div class="service-card">
            <div class="service-image">
                <img src="wwwroot/images/stundup.jpg" alt="Развлечения">
            </div>
            <div class="service-content">
                <h3>тут есть сцена</h3>
                <p>описание секции</p>
            </div>
        </div>
    </div>
</div>

